extends ../layout

block content
	.container
		ol.breadcrumb
			li
				a(href="/list") 列表页 
			li.active 新增
		form(method="post",action="/note/new")
			.form-group
				input(type="hidden",name="note[_id]",value="#{note._id}")
				input.form-control(type="text",value="#{note.title}",name="note[title]",placeholder="标题")
				<br />
				input.form-control(type="text",value="#{note.author}",name="note[author]",placeholder="作者")
				<br />
				.input-group.date.form_date(data-date="",data-date-format="yyyy-mm-dd",data-link-field="dtp_input2",data-link-format="yyyy-mm-dd")
					input.form-control(size="16",type="text",value="#{note.date}",name="note[date]",readonly="readonly")
					span.input-group-addon
						span.glyphicon.glyphicon-remove
					span.input-group-addon
						span.glyphicon.glyphicon-calendar
				<br />
				textarea.form-control(rows="3",name="note[content]",placeholder="内容") #{note.content}
				<br />
				button.btn.btn-default(type="submit") 提交